<!-- HEADER DESKTOP-->
<header class="header-desktop">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="header-wrap">


        <form class="form-header">
          <input class="au-input au-input--xl" type="text" name="search" placeholder="" *ngIf="totale === -1" />
          <button class="au-btn--submit" type="submit" *ngIf="totale === -1">
            <i class="zmdi zmdi-search"></i>
          </button>

          <b><div class="remboursement" *ngIf="totale !== -1">Montant remboursé &nbsp;: &nbsp;<span>{{totale}} dinar</span></div></b>

        </form>


        <div class="header-button">


          <div class="account-wrap">
            <div class="account-item clearfix js-item-menu">
              <div class="content">
                <div class="js-acc-btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >Bonjour <strong>{{name}}</strong>
                </div>
                <div class="dropdown-menu">
                  <span class="dropdown-item" (click)="deconnexion()">Déconnecter</span>
                </div>
              </div>
            </div>
          </div>



        </div>





      </div>
    </div>
  </div>
</header>
<!-- END HEADER DESKTOP-->
