<!-- HEADER DESKTOP-->
<header class="header-desktop">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="header-wrap">


        <form class="form-header">



          <input class="au-input au-input--xl" type="text" name="search" (change)="doSearch(search.value)"   (keyup)="doSearch(search.value)" #search
                 [placeholder]="headerService.placeholder" *ngIf="totale === -1 && headerService.showSearch" />
          <button class="au-btn--submit" type="submit" *ngIf="totale === -1 && headerService.showSearch">
            <i class="zmdi zmdi-search"></i>
          </button>




          <b><div class="remboursement" *ngIf="totale !== -1 && !headerService.showShow">Montant remboursé &nbsp;: &nbsp;<span>{{totale}} dinar</span></div></b>




         <div class="remboursement" *ngIf="headerService.title === 1 && (totale !== -1 || !headerService.showSearch)">
           <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Historique des bordereaux
            </div>


          <div class="remboursement" *ngIf="headerService.title === 2 && (totale !== -1 || !headerService.showSearch)">
            <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Paramétres
            &nbsp;</div>


          <div class="remboursement" *ngIf="headerService.title === 3 &&  headerService.showShow">
            <i class="fa  fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Bulletin de soin
            &nbsp;</div>

        </form>


        <div class="header-button">


          <div class="account-wrap">
            <div class="account-item clearfix js-item-menu">
              <div class="content">
                <div class="js-acc-btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" >Bonjour <strong>{{name}}</strong>
                </div>
                <div class="dropdown-menu">
                  <span class="dropdown-item" (click)="deconnexion()">Déconnecter</span>
                </div>
              </div>
            </div>
          </div>



        </div>





      </div>
    </div>
  </div>
</header>
<!-- END HEADER DESKTOP-->
