<button (click)="goAddBulletinSoin()" class="btn btn-success"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Ajouter un bulletin de soin</button>
<br>
<br>
<div class="table-responsive m-b-40">
  <table class="table table-borderless table-data3">
    <thead>
    <tr>
      <th>CIN</th>
      <th>Piéce jointe</th>
      <th>Date Affiliation</th>
      <th>Date Soin</th>
      <th>Validtion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of bulletins">
      <td>{{findAssureCinByBulletinId(b.id)}}</td>
      <td><a target="_blank" href="http://localhost:8080/bulletin/downloadBulletinFile/{{b.urlBulletin}}">
        <i class="fa fa-download"></i>Télecharger</a></td>
      <td>{{b.dateAffiliation | date:'dd/MM/yyyy'}}</td>
      <td>{{b.dateSoin | date:'dd/MM/yyyy'}}</td>
      <td *ngIf="b.dateValidation !== null">{{b.dateValidation}}</td>
      <td *ngIf="b.dateValidation == null" class="notValid">Non validé</td>

      <td>
        <button (click)="onInfo(b.id)"class="clickable" data-toggle="tooltip" title="Détails"><i class="fa fa-file-text"></i></button>
      </td>
      <td>
        <button (click)="onEdit(b.id)"class="clickable" data-toggle="tooltip" title="Modifier"><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button (click)="onDelete(b.id)"class="clickable" data-toggle="tooltip" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
