<button (click)="goAddBulletinSoin()" class="btn btn-success"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Ajouter un bulletin de soin</button>
<br>
<br>
<div class="table-responsive m-b-40">
  <table class="table table-borderless table-data3">
    <thead>
    <tr>
      <th class="op">CIN</th>
      <th class="op">Piéce jointe</th>
      <th class="op">Affiliation</th>
      <th class="op">Date Soin</th>
      <th class="op">Etat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of bulletins">
      <td>{{findAssureCinByBulletinId(b.id)}}</td>
      <td><a target="_blank" href="http://localhost:8080/bulletin/downloadBulletinFile/{{b.urlBulletin}}">
        <i class="fa fa-download"></i>Télecharger</a></td>
      <td>{{b.dateAffiliation | date:'dd/MM/yyyy'}}</td>
      <td>{{b.dateSoin | date:'dd/MM/yyyy'}}</td>
      <td *ngIf="b.etat === 'En cours'" style="color: red">{{b.etat}}</td>
      <td *ngIf="b.etat === 'Chez GAT'" style="color: #ff8c00">{{b.etat}}</td>
      <td *ngIf="b.etat === 'Remboursé'" style="color: #00b009">{{b.etat}}</td>




      <td>
        <button (click)="onInfo(b.id)"class="clickable" data-toggle="tooltip" title="Détails"><i class="fa fa-file-text"></i></button>
      </td>
      <td>
        <button (click)="onEdit(b.id)"class="clickable" data-toggle="tooltip" title="Modifier"><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button (click)="onDelete(b.id)"class="clickable" data-toggle="tooltip" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <br>
  <a target="_blank" href="/excel"> <button type="button" (click)="excel()" [hidden]="bulletins === undefined || bulletins.length === 0" class="btn btn-success" >
    <img src="/assets/images/icon/excel.png" height="25" width="30"/>&nbsp;&nbsp;&nbsp;Exporter&nbsp;</button></a>


</div>
