<div class="card">
  <div class="card-header">
    <strong><i class="fas fa-user"></i>

      &nbsp;&nbsp;&nbsp;Consultation </strong> des coordonnées du {{role}}
  </div>
  <div class="card-body card-block">


<div *ngIf="assure !== undefined">

    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Cin: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.cin}}</label>
      </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label"><font face="verdana" color="green"><strong>Date Cin</strong></font></label>
        </div>
        <div class="col-12 col-md-9">
          <label>{{assure.dateCin}}</label>
        </div>
      </div>

    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Numéro de matricule: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.numMatricule}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label  class=" form-control-label"><font face="verdana" color="green"><strong>Nom: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.nom}}</label>
      </div>
    </div>

 <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Prénom: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.prenom}}</label>
      </div>
    </div>

  <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label"><font face="verdana" color="green"><strong>Sexe: </strong></font></label>
        </div>
        <div class="col-12 col-md-9">
          <label>{{assure.sexe}}</label>
        </div>
      </div>

    <div class="row form-group">
      <div class="col col-md-3">
        <label  class=" form-control-label"><font face="verdana" color="green"><strong>Email: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.email}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label  class=" form-control-label"><font face="verdana" color="green"><strong>Date de naissance: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.dateNaissance}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Adresse: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.adresse}}</label>
      </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3"><font face="verdana" color="green"><strong>Date de dernière modification: </strong></font></div>
        <div class="col-12 col-md-9">
          <label>{{assure.dateDerniereModif | date : "MMM d, y HH:mm:ss"}}</label>
        </div>
      </div>

      <div class="row form-group">
          <div class="col col-md-3"><font face="verdana" color="green"><strong>Date d'inscription: </strong></font></div>
          <div class="col-12 col-md-9">
            <label>{{assure.dateInscription | date : "MMM d, y HH:mm:ss"}}</label>
          </div>
        </div>

      <div class="row form-group">
          <div class="col col-md-3">
            <label class=" form-control-label"><font face="verdana" color="green"><strong>Rôle: </strong></font> </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{role}}</label>
          </div>
        </div>


<div *ngIf="role === 'Assuré'">


    <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label"><font face="verdana" color="green"><strong>Poste: </strong></font></label>
        </div>
        <div class="col-12 col-md-9">
          <label>{{assure.poste}}</label>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="sf" class=" form-control-label"><font face="verdana" color="green"><strong>Situation familiale: </strong></font></label>
        </div>
        <div class="col-12 col-md-9">
          <label>{{assure.situationFamiliale}}</label>
      </div>
      </div>


      <div class="row form-group" *ngIf="assure.situationFamiliale === 'Marié' || assure.situationFamiliale === 'MariéEnfant'">
          <div class="col col-md-3">
            <label for="nc" class=" form-control-label"><font face="verdana" color="green"><strong>Nom du conjoint: </strong></font></label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.nomConjoint }}</label>
          </div>
        </div>


<div class="row form-group" *ngIf="assure.nbrPersonneEnCharge === 'MariéEnfant'">
<div class="col col-md-3">
  <label for="npc" class=" form-control-label"><font face="verdana" color="green"><strong>Nombre de personne(s) en charge: </strong></font></label>
</div>
<div class="col-12 col-md-9">
  <label>{{assure.nbrPersonneEnCharge}}</label>
</div>
</div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Nationnalité: &nbsp;&nbsp;&nbsp;&nbsp;</strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.nationnalite}}</label>
      </div>
    </div>




    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Salaire: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.salaire}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Numéro d'affiliation Cnam: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.numAffiliationCnam}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Filière Cnam: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.filiereCnam}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label"><font face="verdana" color="green"><strong>Fiche d'affiliation Cnam: </strong></font></label>
      </div>
      <div class="col-12 col-md-9">
        <label><a target="_blank" href="http://localhost:8080/assure/downloadAffFile/{{assure.urlFichierAffiliation}}"><i class="fa fa-download"></i> Download</a></label>
      </div>
    </div>
  </div>
</div>
</div>
</div>
