<div class="card">
  <div class="card-header">
    <strong><i class="fas fa-user"></i>

      &nbsp;&nbsp;&nbsp;Consultation </strong> des coordonnées du {{role}}
  </div>
  <div class="card-body card-block">


<div *ngIf="assure !== undefined">

    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Cin: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.cin}}</label>
      </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label">Date Cin: </label>
        </div>
        <div class="col-12 col-md-9">
          <label>{{assure.dateCin}}</label>
        </div>
      </div>

    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Numéro de matricule: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.numMatricule}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label  class=" form-control-label">Nom: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.nom}}</label>
      </div>
    </div>

 <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Prénom: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.prenom}}</label>
      </div>
    </div>

  <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label">Sexe: </label>
        </div>
        <div class="col-12 col-md-9">
          <label>{{assure.sexe}}</label>
        </div>
      </div>

    <div class="row form-group">
      <div class="col col-md-3">
        <label  class=" form-control-label">Email: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.email}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label  class=" form-control-label">Date de naissance: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.dateNaissance}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Adresse: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.adresse}}</label>
      </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">Date de dernière Modification:</div>
        <div class="col-12 col-md-9">
          <label>{{assure.dateDerniereModif}}</label>
        </div>
      </div>

      <div class="row form-group">
          <div class="col col-md-3">Date d'inscription':</div>
          <div class="col-12 col-md-9">
            <label>{{assure.dateInscription}}</label>
          </div>
        </div>

      <div class="row form-group">
          <div class="col col-md-3">
            <label class=" form-control-label">Role: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{role}}</label>
          </div>
        </div>


<div *ngIf="role === 'Assuré'">


    <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label">Poste: </label>
        </div>
        <div class="col-12 col-md-9">
          <label>{{assure.poste}}</label>
        </div>
      </div>

    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Nombre De Personne En Charge: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.nbrPersonneEnCharge}}</label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Nationnalité: &nbsp;&nbsp;&nbsp;&nbsp;</label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.nationnalite}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Situation familiale: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.situationFamiliale}}</label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Salaire: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.salaire}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Nom Du Conjoint: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.nomConjoint }}</label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Numéro d'affiliation Cnam: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.numAffiliationCnam}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Filière CNAM: </label>
      </div>
      <div class="col-12 col-md-9">
        <label>{{assure.filiereCnam}}</label>
      </div>
    </div>


    <div class="row form-group">
      <div class="col col-md-3">
        <label class=" form-control-label">Fiche D'Affiliation CNAM: </label>
      </div>
      <div class="col-12 col-md-9">
        <label><a><i class="fa fa-download"></i> Download</a></label>
      </div>
    </div>




  </div>
</div>
</div>
</div>
