<aside class="menu-sidebar d-none d-lg-block" xmlns:skipLocationChange="http://www.w3.org/1999/xhtml">
  <div class="logo">
    <a href="#">
      <img src="../../assets/images/icon/logo.png" alt="Cool Admin" />
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">

        <li>
          <span (click)="listEmploye()"><i class="fa fa-user-circle" aria-hidden="true"></i>Gestion des utilisateurs</span>
        </li>


        <li>
          <span (click)="listBulletin()"><i class="fa fa-stethoscope" aria-hidden="true"></i>Bulletins de soin</span>
        </li>




      </ul>
    </nav>
  </div>
</aside>
