<div class="card" *ngIf="bulletinSoin != null">
  <div class="card-header">
    <strong>Modification du Bulletin</strong>
  </div>
  <div class="card-body card-block">
    <form action="" method="post" class="form-horizontal">
      <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label">Cin de l'assuré</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="cin" name="cin" placeholder="" class="form-control" disabled>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="mat" class=" form-control-label">Numéro de matricule</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="mat" name="mat" placeholder="" class="form-control" disabled>
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="name" class=" form-control-label">Nom</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="name" name="name" placeholder="" class="form-control" disabled>
        </div>
      </div>



      <div class="row form-group">
        <div class="col col-md-3">
          <label for="prenom" class=" form-control-label">Prénom</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="email" id="prenom" name="prenom" placeholder="" class="form-control" disabled>
        </div>
      </div>



      <div class="row form-group">
        <div class="col col-md-3">
          <label class="form-control-label">Ficher PDF</label>
        </div>
        <div class="col-12 col-md-9" [hidden]="updatePDF">
          {{bulletinSoin.urlBulletin}} &nbsp;&nbsp;&nbsp;
          <button class="btn btn-warning btn-sm" (click)="updatePDF = true">
            <i class="fa fa-clipboard"></i> &nbsp;
            Modifier
          </button>
        </div>
        <div class="col-12 col-md-9" [hidden]="!updatePDF">
          <input type="file"  class="inputs"  #pdf >
        </div>
      </div>




      <div class="row form-group">
        <div class="col col-md-3">
          <label class=" form-control-label">Montant à remboursé (Dinar)</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="number" id="montant" name="montant"  class="form-control" min="0"  [(ngModel)]="montant">
        </div>
      </div>





      <div class="row" style="text-align: center" >
        <div class="col-12">
          <button type="button" class="btn btn-warning"  (click)="showArticle()" *ngIf="!showArticles">
            <i class="fa fa-plus-square"></i>&nbsp; Afficher les articles</button>
        </div>
      </div>

      <div #as></div>
      <span *ngIf="showArticles">
      <div #as></div>

      <div class="row" style="text-align: center" >
        <div class="col-12">
          <button type="button" class="btn btn-warning" id="addArticle" (click)="addArticle()">
            <i class="fa fa-plus-square"></i>&nbsp; Ajouter un article médical</button>
        </div>
      </div>
</span>






    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary btn-sm" (click)="valider(pdf.files[0])">
      <i class="fa fa-dot-circle-o"></i> Valider
    </button>
    &nbsp;&nbsp;&nbsp;
    <button type="reset" class="btn btn-danger btn-sm">
      <i class="fa fa-ban"></i> Reset
    </button>
  </div>
</div>




<div #dialogDiv></div>
