<h5 (click)="changeState()" class="clickable">Bordereau Envoyé le  &nbsp;&nbsp;{{dateEnvoi | date:'dd/MM/yyyy'}}
  &nbsp;&nbsp;&nbsp;&nbsp;
  <i *ngIf="!affiche" class="fa fa-chevron-right"></i>     <i *ngIf="affiche" class="fa fa-chevron-down"></i>
</h5>

<br>

<div class="table-responsive m-b-40" [hidden]="!affiche">
  <div *ngIf="bulletins.length === 0">Le bordereau est vide</div>
  <ng-container *ngIf="bulletins.length > 0">
  <table class="table table-borderless table-data3">
    <thead>
    <tr>
      <th>CIN</th>
      <th>Piéce jointe</th>
      <th>Date Affiliation</th>
      <th>Date Soin</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of bulletins">
      <td>{{findAssureCinByBulletinId(b.id)}}</td>
      <td><a target="_blank" href="http://localhost:8080/bulletin/downloadBulletinFile/{{b.urlBulletin}}">
        <i class="fa fa-download"></i>Télecharger</a></td>
      <td>{{b.dateAffiliation | date:'dd/MM/yyyy'}}</td>
      <td>{{b.dateSoin | date:'dd/MM/yyyy'}}</td>


      <td>
        <button (click)="onInfo(b.id)"class="clickable" data-toggle="tooltip" title="Détails"><i class="fa fa-file-text"></i></button>
      </td>

    </tr>
    </tbody>
  </table>
  </ng-container>
</div>
