<div *ngIf="mode === 1">
<div class="card">
  <div class="bg-light card-header">
    <strong><i class="fas fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Ajout</strong> d'un utilisateur
  </div>
  <div class="card-body card-block">
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="add()">

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="cin" class=" form-control-label">Cin</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="number" id="cin" class="invalid" name="cin" formControlName="cin" placeholder="Entrer Votre Cin..." class="form-control">
          <div class="alert alert-danger" *ngIf="(form.get('cin').dirty || form.get('cin').touched) && (form.get('cin').invalid)">
            <div *ngIf="form.get('cin').errors.required ">Le champ <strong>Cin</strong> est obligatoire</div>
            <div *ngIf="form.get('cin').errors.verifyCin && form.get('cin').dirty">Le champ <strong>Cin</strong> doit être composé de 8 chiffres</div>
</div>
            <div class="alert alert-danger" *ngIf="!verifyUnicityCin(form.get('cin').value) && form.get('cin').dirty">La valeur du <strong>CIN</strong> déja existante</div>

      </div>
      </div>



      <div class="row form-group">
        <div class="col col-md-3">
          <label for="dateCin" class=" form-control-label">Date Cin</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="date" id="dateCin"  name="dateCin" formControlName="dateCin" placeholder="Entrer La date de Votre Cin..." class="form-control">
          <div class="alert alert-danger" *ngIf="(form.get('dateCin').dirty || form.get('dateCin').touched) && form.get('dateCin').invalid">
            <div *ngIf="form.get('dateCin').errors.required">Le champ <strong>Date Cin</strong> est obligatoire</div>
          </div>
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="mat" class=" form-control-label">Numéro de matricule</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="number" id="mat" name="mat" formControlName="numMatricule" placeholder="Entrer Votre N° De Matriculation..." class="form-control">
          <div class="alert alert-danger" *ngIf="((form.get('numMatricule').touched || form.get('numMatricule').dirty) && form.get('numMatricule').invalid )">
            <div *ngIf="form.get('numMatricule').errors.required">Le champ <strong>Numéro de matricule</strong> est obligatoire</div>
           <div *ngIf="form.get('numMatricule').dirty">
            <div *ngIf="form.get('numMatricule').errors.verifyPositif">Entrer un <strong>Numéro de matricule</strong> valide</div>
          </div>
        </div>
      </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="nom" class=" form-control-label">Nom</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="nom" name="nom" formControlName="nom" placeholder="Entrer Votre Nom..." class="form-control">
          <div class="alert alert-danger" *ngIf="(form.get('nom').touched || form.get('nom').dirty ) && form.get('nom').invalid">
                  Le champ <strong>Nom</strong> est obligatoire
          </div>
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="prenom" class=" form-control-label">Prénom</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="prenom" name="prenom" formControlName="prenom" placeholder="Entrer Votre Prénom..." class="form-control" >
          <div class="alert alert-danger" *ngIf="(form.get('prenom').touched || form.get('prenom').dirty)&& form.get('prenom').invalid">
            Le champ <strong>Prénom</strong> est obligatoire
          </div>
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="role" class=" form-control-label">Sexe</label>
        </div>
        <div class="col-12 col-md-9">
          <select name="sexe" id="sexe" class="form-control" formControlName="sexe">
            <option value="Femme">Femme</option>
            <option value="Homme">Homme</option>
          </select>
          <div class="alert alert-danger" *ngIf="(form.get('sexe').dirty || form.get('sexe').touched) && form.get('sexe').invalid">
           Le champ <strong>Sexe</strong> est obligatoire
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="address" class=" form-control-label">Adresse</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="address" name="address" formControlName="adresse" placeholder="Entrer Votre Adresse..." class="form-control">
          <div class="alert alert-danger" *ngIf="form.get('adresse').invalid && ( form.get('adresse').touched || form.get('adresse').dirty) ">
            Le champ <strong>Adresse</strong> est obligatoire
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="email" class=" form-control-label">Email</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="email" id="email" name="email" formControlName="email" placeholder="Entrer Votre Email..." class="form-control">
          <div class="alert alert-danger" *ngIf="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid ">
            <div *ngIf="form.get('email').errors.required">Le champ <strong>Email</strong> est obligatoire</div>
            <div *ngIf="form.get('email').errors.email">Entrer un <strong>email</strong> valide.</div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="dn" class=" form-control-label">Date de naissance</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="date" id="dn" name="dn" formControlName="dateNaissance"  placeholder="Entrer Votre Date De Naissance..." class="form-control">
          <div class="alert alert-danger" *ngIf="(form.get('dateNaissance').touched || form.get('dateNaissance').dirty) && form.get('dateNaissance').invalid">
            <div *ngIf="form.get('dateNaissance').errors.required"> Le champ <strong>Date de naissance </strong> est obligatoire.</div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="role" class=" form-control-label">Rôle</label>
        </div>
        <div class="col-12 col-md-9">
          <select name="role" id="role" class="form-control" formControlName="role">
            <option value="Admin">Administrateur</option>
            <option value="Gestionnaire">Gestionnaire</option>
            <option value="Assuré">Assuré</option>
          </select>
          <div class="alert alert-danger" *ngIf="form.get('role').invalid && ( form.get('role').touched || form.get('role').dirty) ">
            <div *ngIf="form.get('role').errors.required">Le champ <strong> Rôle </strong> est obligatoire</div>
          </div>
        </div>
      </div>



      <div *ngIf="form.get('role').value === 'Assuré'">

          <div class="row form-group"  >
            <div class="col col-md-3">
              <label for="poste" class=" form-control-label">Poste</label>
            </div>
            <div class="col-12 col-md-9">
              <select name="poste" id="poste" class="form-control" formControlName="poste">
                <option value="PDG">PDG</option>
                <option value="ChefProjet">Chef de projet</option>
                <option value="Développeur">Développeur</option>
                <option value="Commerciale">Commerciale</option>
              </select>
                  <div class="alert alert-danger" *ngIf="form.get('poste').touched && form.get('poste').pristine">
                      Le champ <strong>Poste</strong> est obligatoire
                  </div>

            </div>
          </div>


          <div class="row form-group">
            <div class="col col-md-3">
              <label for="nat" class=" form-control-label">Nationnalité</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="nat" formControlName="nationnalite" name="nat" placeholder="Enter Votre Nationnalité..." class="form-control">
              <div class="alert alert-danger" *ngIf="form.get('nationnalite').touched && form.get('nationnalite').pristine">
                  Le champ <strong>Nationnalité</strong> est obligatoire
              </div>
            </div>
          </div>


          <div class="row form-group">
            <div class="col col-md-3">
              <label for="sf" class=" form-control-label">Situation familiale</label>
            </div>
            <div class="col-12 col-md-9">
              <select name="sf" id="sf" class="form-control" formControlName="situationFamiliale">
                <option value="Marié">Marié</option>
                <option value="Célibataire">Célibataire</option>
                <option value="MariéEnfant">Marié avec enfant(s)</option>
              </select>
              <div class="alert alert-danger" *ngIf="form.get('situationFamiliale').touched && form.get('situationFamiliale').pristine">
                  Le champ <strong>Situation Familiale</strong> est obligatoire
              </div>
            </div>
          </div>


          <div class="row form-group" *ngIf="form.get('situationFamiliale').value === 'Marié' || form.get('situationFamiliale').value === 'MariéEnfant'">
            <div class="col col-md-3">
              <label for="nc" class=" form-control-label">Nom Du Conjoint</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="nc" name="nc" formControlName="nomConjoint" placeholder="Enter Le Nom De Votre Conjoint..." class="form-control">
              <div class="alert alert-danger" *ngIf="form.get('nomConjoint').touched && form.get('nomConjoint').pristine">
                  Le champ <strong>Nom du conjoint</strong> est obligatoire
              </div>
          </div>
          </div>

          <div class="row form-group" *ngIf="form.get('situationFamiliale').value === 'MariéEnfant'">
            <div class="col col-md-3">
              <label for="npc" class=" form-control-label">Nombre D'Enfants En Charge</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="number" id="npc" formControlName="nbrPersonneEnCharge" name="npc" placeholder="Entrer Le Nombre De Personne En Charge..." class="form-control">

              <div class="alert alert-danger" *ngIf="form.get('nbrPersonneEnCharge').touched && form.get('nbrPersonneEnCharge').pristine">
                  Le champ <strong>Nombre de personne(s) en charge</strong> est obligatoire
              </div>
            </div>
          </div>


          <div class="row form-group">
            <div class="col col-md-3">
              <label for="salaire" class=" form-control-label">Salaire</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="number" id="salaire" formControlName="salaire" name="salaire" placeholder="Enter Salaire..." class="form-control">
              <div class="alert alert-danger" *ngIf="form.get('salaire').touched && form.get('salaire').pristine">
                  Le champ <strong>Salaire</strong> est obligatoire
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col col-md-3">
              <label for="na" class=" form-control-label">Numéro d'affiliation Cnam</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="number" id="na" formControlName="numAffiliationCnam" name="na" placeholder="Enter Votre numéro d'affiliation CNAM.." class="form-control">
              <div class="alert alert-danger" *ngIf="form.get('numAffiliationCnam').touched && form.get('numAffiliationCnam').pristine">
                  Le champ <strong>Numéro d'affiliation Cnam</strong> est obligatoire
              </div>
            </div>
          </div>


          <div class="row form-group">
            <div class="col col-md-3">
              <label for="filiere" class=" form-control-label">Filière CNAM</label>
            </div>
            <div class="col-12 col-md-9">
              <select name="filiere" id="filiere" class="form-control" formControlName="filiereCnam">
                <option value="Publique">Publique</option>
                <option value="Privé">Privé</option>
                <option value="Remboursement">Remboursement</option>
              </select>
              <div class="alert alert-danger" *ngIf="form.get('filiereCnam').touched && form.get('filiereCnam').pristine">
                  Le champ <strong>Filière Cnam</strong> est obligatoire
              </div>
            </div>
          </div>


          <div class="row form-group">
            <div class="col col-md-3">
              <label for="filegat" class=" form-control-label">Fiche D'Affiliation CNAM</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="file" class="inputs" multiple id="filegat" name="file" formControlName="urlFichierAffiliation" (change)="fileEvent($event)" >
              <div class="alert alert-danger" *ngIf="form.get('urlFichierAffiliation').touched && (form.get('urlFichierAffiliation').pristine || !PDFValid())">
                Le <strong>Fichier d'Affiliation</strong> doit avoir l'extension PDF
              </div>
            </div>
          </div>
        </div>


        <div class="card-footer">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="testButton()">
            <i class="fa fa-dot-circle-o"></i> Valider
          </button>
          &nbsp;&nbsp;&nbsp;
          <button type="reset" class="btn btn-danger btn-sm">
            <i class="fa fa-ban"></i> Reset
          </button>
        </div>
    </form>
  </div>

</div>
</div>
<div *ngIf="mode === 2">
  <div class="card">
    <div class="card-header">
      <strong><i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp;Confirmation </strong> de l'ajout
    </div>
    <div class="card-body card-block">



      <div class="row form-group">
          <div class="col col-md-3">
            <label for="cin" class=" form-control-label"><font color="#004000"><strong>Cin: </strong></font></label>
          </div>
          <div class="col-12 col-md-9" *ngIf="assure.cin.toString().length === 8">
            <label>{{assure.cin}}</label>
          </div>
          <div class="col-12 col-md-9" *ngIf="assure.cin.toString().length === 7">
            <label>{{"0" + assure.cin.toString()}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="cin" class=" form-control-label">Date Cin: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.dateCin}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="mat" class=" form-control-label">Numéro de matricule: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.numMatricule}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="nom" class=" form-control-label">Nom: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.nom}}</label>
          </div>
        </div>


        <div class="row form-group">
          <div class="col col-md-3">
            <label for="prenom" class=" form-control-label">Prénom: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.prenom}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="email" class=" form-control-label">Email: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.email}}</label>
          </div>
        </div>


        <div class="row form-group">
          <div class="col col-md-3">
            <label for="dn" class=" form-control-label">Date de naissance: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.dateNaissance}}</label>
          </div>
        </div>


        <div class="row form-group">
          <div class="col col-md-3">
            <label for="address" class=" form-control-label">Adresse: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.adresse}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="cin" class=" form-control-label">Sexe: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.sexe}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="cin" class=" form-control-label">Date d'inscription: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.dateInscription}}</label>
          </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
              <label for="role" class=" form-control-label">Rôle: </label>
            </div>
            <div class="col-12 col-md-9">
              <label>{{x.role}}</label>
            </div>
          </div>




        <div *ngIf="x.role === 'Assuré'">
            <div class="row form-group">
                <div class="col col-md-3">
                  <label for="role" class=" form-control-label">Poste: </label>
                </div>
                <div class="col-12 col-md-9">
                  <label>{{assure.poste}}</label>
                </div>
              </div>

              <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="sf" class=" form-control-label">Situation familiale: </label>
                  </div>
                  <div class="col-12 col-md-9">
                    <label>{{assure.situationFamiliale}}</label>
                </div>
                </div>


                <div class="row form-group" *ngIf="assure.situationFamiliale === 'Marié' || assure.situationFamiliale === 'MariéEnfant'">
                    <div class="col col-md-3">
                      <label for="nc" class=" form-control-label">Nom Du Conjoint: </label>
                    </div>
                    <div class="col-12 col-md-9">
                      <label>{{assure.nomConjoint }}</label>
                    </div>
                  </div>


        <div class="row form-group" *ngIf="assure.nbrPersonneEnCharge === 'MariéEnfant'">
          <div class="col col-md-3">
            <label for="npc" class=" form-control-label">Nombre De Personne En Charge: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.nbrPersonneEnCharge}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="nat" class=" form-control-label">Nationnalité: &nbsp;&nbsp;&nbsp;&nbsp;</label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.nationnalite}}</label>
          </div>
        </div>


        <div class="row form-group">
          <div class="col col-md-3">
            <label for="salaire" class=" form-control-label">Salaire: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.salaire}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="na" class=" form-control-label">Numéro d'affiliation Cnam: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.numAffiliationCnam}}</label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <label for="filiere" class=" form-control-label">Filière CNAM: </label>
          </div>
          <div class="col-12 col-md-9">
            <label>{{assure.filiereCnam}}</label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <label for="filegat" class=" form-control-label">Fiche D'Affiliation CNAM: </label>
          </div>
          <div class="col-12 col-md-9">
            <label><a target="_blank" href="http://localhost:8080/assure/downloadAffFile/{{assure.urlFichierAffiliation}}"><i class="fa fa-download"></i> Download</a></label>
          </div>
        </div>

      </div>
     <!-- <button (click)="onRedirectToListe()" class="clickable btn btn-success"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Liste des utilisateurs</button>
     -->
    </div>
</div>
</div>
