<button routerLink="/add-employe" class="btn btn-success"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Add Employe</button>
<br>
<br>
<div class="table-responsive m-b-40">
  <table class="table table-borderless table-data3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Cin</th>
      <th>Name</th>
      <th>Email</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let em of employe">
      <td>{{em.idAssuranceUser}}</td>
      <td>{{em.cin}}</td>
      <td>{{em.name}}</td>
      <td>{{em.email}}</td>
      <td>{{em.date}}</td>
      <td>
        <a (click)="onInfo(em.idAssuranceUser)"class="clickable"><i class="far fa-address-card"></i></a>
      </td>
      <td>
        <a (click)="onEdit(em.idAssuranceUser)"class="clickable"><i class="fas fa-edit"></i></a>
      </td>
      <td>
        <a (click)="onDelete(em)"class="clickable"><i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
