<div class="page-container">


  <!-- MAIN CONTENT-->
  <div class="main-content">




    <!--CONTENT-->
    <div class="row" id="content">
      <div class="section__content section__content--p30">
        <div class="container-fluid">
      <router-outlet name="dashboard-content"></router-outlet>
    </div>
      </div>
    </div>



    <div class="row" id="footer">
      <div class="col-md-8" style="margin: auto">
        <div class="copyright">
          <p>Copyright © 2018. All rights reserved.</p>
        </div>
      </div>
    </div>



  </div>
  </div>
