<div class="card">
  <div class="card-header">
    <strong>Employe</strong> Form
  </div>
  <div class="card-body card-block">
    <form action="" method="post" class="form-horizontal">
      <div class="row form-group">
        <div class="col col-md-3">
          <label for="cin" class=" form-control-label">Cin</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="number" id="cin" name="cin" placeholder="Enter Cin..." class="form-control">
          <br>
          <div class="alert alert-danger">
              <h6>AAAAAAAAA!! </h6>
          </div>
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="mat" class=" form-control-label">Numéro de matricule</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="mat" name="mat" placeholder="Enter Votre N° De Matriculation..." class="form-control">
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="name" class=" form-control-label">Name</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="name" name="name" placeholder="Enter Name..." class="form-control">
        </div>
      </div>



      <div class="row form-group">
        <div class="col col-md-3">
          <label for="email" class=" form-control-label">Email</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="email" id="email" name="email" placeholder="Enter Email..." class="form-control">
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="dn" class=" form-control-label">Date de naissance</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="date" id="dn" name="dn" placeholder="Enter Votre Date De Naissance..." class="form-control">
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="address" class=" form-control-label">Adresse</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="address" name="address" placeholder="Enter Votre Adresse..." class="form-control">
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="sf" class=" form-control-label">Situation familiale</label>
        </div>
        <div class="col-12 col-md-9">
          <select name="sf" id="sf" class="form-control">
            <option value="0"></option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
      </div>



      <div class="row form-group">
        <div class="col col-md-3">
          <label for="salary" class=" form-control-label">Salary</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="number" id="salary" name="salary" placeholder="Enter Salaire..." class="form-control">
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="nc" class=" form-control-label">Nom Du Conjoint</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="nc" name="nc" placeholder="Enter Le Nom De Votre Conjoint..." class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="secteur" class=" form-control-label">Secteur GAT</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="text" id="secteur" name="secteur" placeholder="Enter Le Secteur GAT..." class="form-control">
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="filegat" class=" form-control-label">Fiche D'Affiliation GAT</label>
        </div>
        <div class="col-12 col-md-9">
          <input type="file" id="filegat" name="filegat" class="form-control-file">
        </div>
      </div>


      <div class="row form-group">
        <div class="col col-md-3">
          <label for="role" class=" form-control-label">Rôle</label>
        </div>
        <div class="col-12 col-md-9">
          <select name="role" id="role" class="form-control">
            <option value="0"></option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col col-md-3">
          <label for="societe" class=" form-control-label">Societé</label>
        </div>
        <div class="col-12 col-md-9">
          <select name="societe" id="societe" class="form-control">
            <option value="0"></option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
      </div>



    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary btn-sm">
      <i class="fa fa-dot-circle-o"></i> Submit
    </button>
    &nbsp;&nbsp;&nbsp;
    <button type="reset" class="btn btn-danger btn-sm">
      <i class="fa fa-ban"></i> Reset
    </button>
  </div>
</div>
