<button (click)="goAddEmploye()" class="btn btn-success"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Ajouter un Assuré</button>
<br>
<br>
<div class="table-responsive m-b-40">
  <table class="table table-borderless table-data3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Cin</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tr *ngFor="let em of employe">
      <td>{{em.id}}</td>
      <td>{{em.cin}}</td>
      <td>{{em.nom}}</td>
      <td>{{em.prenom}}</td>
      <td>{{em.email}}</td>
      <td>{{em.date}}</td>
      <td>
        <button (click)="onInfoAssure(em.id)" class="clickable"><i class="far fa-address-card"></i></button>
      </td>
      <td>
        <button (click)="onEditAssure(em.id)" class="clickable"><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button (click)="onDelete(em)" class="clickable"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </table>
</div>

