<div class="page-wrapper">
  <div class="page-content--bge5">
    <div class="container">
      <div class="login-wrap">
        <div class="login-content">
          <div class="login-logo">
            <a href="#">
              <img src="/assets/images/icon/logo.png" alt="CoolAdmin">
            </a>
          </div>
          <div class="login-form">
            <form>
              <div class="form-group">
                <label>Adresse email</label>
                <input class="au-input au-input--full" type="email" [(ngModel)]="email" #em
                       name="email" placeholder="Taper votre email...">
              </div>
              <button class="au-btn au-btn--block au-btn--green m-b-20" type="button"
                     (click)="envoyer()">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
