<h1 class="display-5 my-3">Bulletins de soin chez GAT</h1>
<br>
<br>
<div class="table-responsive m-b-40">
  <table class="table table-borderless table-data3">
    <thead>
    <tr>
      <th>CIN</th>
      <th>Piéce jointe</th>
      <th>Date Affiliation</th>
      <th>Date Soin</th>
      <th>Validtion</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of bulletins">
      <td>{{findAssureCinByBulletinId(b.id)}}</td>
      <td><a target="_blank" href="http://localhost:8080/bulletin/downloadBulletinFile/{{b.urlBulletin}}">
        <i class="fa fa-download"></i>Télecharger</a></td>
      <td>{{b.dateAffiliation | date:'dd/MM/yyyy'}}</td>
      <td>{{b.dateSoin | date:'dd/MM/yyyy'}}</td>
      <td *ngIf="b.dateValidation !== null">{{b.dateValidation}}</td>
      <td *ngIf="b.dateValidation == null" class="notValid">Non validé</td>

      <td>
        <button (click)="onInfo(b.id)"  class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" title="Détails"><i class="fa fa-file-text"></i></button>
      </td>

      <td>
        <button (click)="onValid(b.id)" class="btn btn-outline-success btn-sm" data-toggle="tooltip" title="Valider"><i class="fa fa-check-circle"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
